# Исключаем папку с файлами, чтобы не копировать их в контейнер
files/

# Исключаем виртуальные окружения Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Исключаем временные файлы и логи
*.log
*.tmp
*.swp
users.db

# Исключаем файлы IDE и редакторов
.vscode/
.idea/
*.iml

# Исключаем Docker-файлы, если не нужны в контейнере
.dockerignore
Dockerfile
docker-compose.yml
