<button class="btn btn-secondary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#userFiles" aria-expanded="true" aria-controls="userFiles">
    Мои файлы
</button>
<div class="collapse show" id="userFiles">
    <ul class="list-group">
        {% for file in files %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <strong>{{ file.filename }}</strong>
                    <br>
                    <small>Размер: {{ (file.size / 1024)|round(2) }} KB</small>
                    <br>
                    <small>Изменен: {{ file.modified }}</small>
                </div>
                <a href="{{ url_for('file.download_file', file_id=file.file_id) }}" class="btn btn-primary btn-sm">
                    Скачать
                </a>
            </li>
        {% endfor %}
    </ul>
</div>