{% extends "base.html" %}

{% block title %}Админская панель{% endblock %}

{% block content %}
<h2 class="mb-4">Админская панель</h2>

<!-- Список пользователей -->
<h3 class="mt-4">Список пользователей</h3>
{% include "_user_list.html" %}

<!-- Форма добавления пользователя -->
<h3 class="mt-4">Добавить пользователя</h3>
{% include "_user_form.html" %}

<!-- Форма обновления прав доступа -->
<h3 class="mt-4">Обновление прав доступа к файлам</h3>
{% include "_file_permissions.html" %}

<!-- Форма изменения пароля пользователя -->
<h3 class="mt-4">Изменить пароль пользователя</h3>
{% include "_password_form.html" %}

{% endblock %}